Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

Update docs version to use latest
  docs/versions1.json
Labels: documentation

Use TorchX main from GitHub and add compatibility fixes
  nemo_run/run/logs.py
  nemo_run/run/torchx_backend/runner.py
  pyproject.toml
  uv.lock
Labels: torchx, run

Remove uv override dependencies
  pyproject.toml
  uv.lock
Labels: none

docs: Update docs to include nightly and use latest (#431)
  .github/workflows/release-docs.yml
  docs/versions1.json
Labels: documentation, CI

ci: Add-credentials-for-docs
  .github/workflows/release.yml
Labels: CI

ci: Add-credentials-for-docs (#432)
  .github/workflows/release.yml
Labels: CI

ci: Add app-id input
  .github/workflows/release.yml
Labels: CI

ci: Add app-id input (#434)
  .github/workflows/release.yml
Labels: CI

ci: Readd secrets
  .github/workflows/release.yml
Labels: CI

ci: Add app-id
  .github/workflows/release.yml
Labels: CI

Allow 0.8.0 release
  .github/workflows/release.yml
Labels: CI

Fix from-tag
  .github/workflows/release.yml
Labels: CI

Fix release
  .github/workflows/release.yml
Labels: CI

Fix release
  .github/workflows/release.yml
Labels: CI

Add --mpi=pmix to COMMAND srun in ray template
  nemo_run/run/ray/templates/ray.sub.j2
Labels: ray, run

lowerbound version
  pyproject.toml
Labels: none

Update test artifacts with --mpi=pmix
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
  test/core/execution/artifacts/expected_ray_het_cluster.sub
Labels: execution, core, tests

Honor executor srun_args for Ray command srun
  nemo_run/run/ray/slurm.py
  nemo_run/run/ray/templates/ray.sub.j2
  test/run/ray/test_slurm_ray_request.py
Labels: ray, run, tests

Fix ray srun formatting and cover heterogeneous command args
  nemo_run/run/ray/slurm.py
  test/run/ray/test_slurm_ray_request.py
Labels: ray, run, tests

feat: support container-image None in slurm
  nemo_run/core/execution/slurm.py
Labels: execution, executor/slurm, core

fix
  nemo_run/core/execution/slurm.py
Labels: execution, executor/slurm, core

fix: Remove outdated nvrx arg
  nemo_run/run/torchx_backend/components/ft_launcher.py
Labels: torchx, run

fix: Remove outdated nvrx arg (#441)
  nemo_run/run/torchx_backend/components/ft_launcher.py
Labels: torchx, run

chore: Bump version
  nemo_run/package_info.py
Labels: none

test
  nemo_run/package_info.py
Labels: none

fix
  nemo_run/package_info.py
Labels: none

fix: Fix hatch version parsing by using static version string
  nemo_run/package_info.py
  pyproject.toml
Labels: none

test
  nemo_run/package_info.py
Labels: none

test
  .github/workflows/build-test-publish-wheel.yml
Labels: CI

revert
  nemo_run/package_info.py
Labels: none

revert
  nemo_run/package_info.py
Labels: none

revert
  pyproject.toml
Labels: none

bump
  .github/workflows/build-test-publish-wheel.yml
Labels: CI

test
  .github/workflows/build-test-publish-wheel.yml
Labels: CI

chore: Bump version (#443)
  .github/workflows/build-test-publish-wheel.yml
  nemo_run/package_info.py
Labels: CI

ci: Bump build workflow
  .github/workflows/build-test-publish-wheel.yml
Labels: CI

fix: Remove outdated nvrx arg (#441) (#442)
  nemo_run/run/torchx_backend/components/ft_launcher.py
Labels: torchx, run

fix: Flaky Slurm network issues
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

Potential fix for code scanning alert no. 534: Illegal raise
  nemo_run/run/torchx_backend/schedulers/slurm.py
Labels: torchx, run

format
  nemo_run/run/torchx_backend/schedulers/slurm.py
Labels: torchx, run

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
