Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

refactor(release): bump FW-CI pin to a092192
  .github/workflows/release.yml
Labels: CI

ci(release): trigger release on pull-request/** + deploy-release/*
  .github/workflows/release.yml
Labels: CI

ci(release): use pull_request trigger for validate-only path
  .github/workflows/release.yml
Labels: CI

Make Lepton dependency optional
  docs/index.md
  nemo_run/core/execution/lepton.py
  nemo_run/run/ray/lepton.py
  nemo_run/run/torchx_backend/schedulers/lepton.py
  pyproject.toml
  test/core/execution/test_lepton.py
  test/core/execution/test_lepton_optional_dependency.py
  test/run/ray/test_lepton.py
  uv.lock
Labels: execution, executor/lepton, ray, torchx, core, run, documentation, tests

refactor(release): bump FW-CI pin to 6afcae2 (build-docs root-dir)
  .github/workflows/release.yml
Labels: CI

refactor(release): bump FW-CI pin to 2a43619 (docs-root-dir / docs-requirements-file)
  .github/workflows/release.yml
Labels: CI

refactor(release): bump FW-CI pin to 2f00056 (Slack only on dispatch)
  .github/workflows/release.yml
Labels: CI

ci(changelog): bump FW-CI pin (HYBRID mode default) + add cp-title transformer
  .github/workflows/config/changelog-config.json
Labels: CI

refactor(release): bump FW-CI pin to b57ebf9 ([skip ci] on bump commit)
  .github/workflows/release.yml
Labels: CI

refactor(release): bump FW-CI pin to cb5e93b (notify env public for dry-run)
  .github/workflows/release.yml
Labels: CI

refactor(release): bump FW-CI pin to 43d259e + drop SLACK_WEBHOOK passthrough
  .github/workflows/release.yml
Labels: CI

ci: bump FW-CI pin to d2f3dd3 + use secrets inherit
  .github/workflows/release.yml
Labels: CI

ci: strip orphan secret keys after secrets inherit
  .github/workflows/release.yml
Labels: CI

ci: bump FW-CI pin to 64293f6 (slack render fix)
  .github/workflows/release.yml
Labels: CI

ci: pin FW-CI templates to v1.0.0
  .github/workflows/release.yml
Labels: CI

ci: pragma allowlist secret on 'secrets: inherit' lines
  .github/workflows/release.yml
Labels: CI

ci: simplify release-summary if-block (always() was dead code)
  .github/workflows/release.yml
Labels: CI

ci: remove build-docs workflow
  .github/workflows/build-docs.yml
Labels: CI

ci: pin FW-CI-templates to NVIDIA-NeMo/FW-CI-templates#480 (mirror branch protection)
  .github/workflows/release.yml
Labels: CI

ci: pin FW-CI-templates to NVIDIA-NeMo/FW-CI-templates#480 (mirror branch protection)
  .github/workflows/release.yml
Labels: CI

ci: pin FW-CI-templates to NVIDIA-NeMo/FW-CI-templates#480 (mirror branch protection)
  .github/workflows/release.yml
Labels: CI

ci: pin FW-CI-templates to NVIDIA-NeMo/FW-CI-templates#480 (mirror branch protection)
  .github/workflows/release.yml
Labels: CI

ci: pin FW-CI-templates to NVIDIA-NeMo/FW-CI-templates#480 (mirror branch protection)
  .github/workflows/release.yml
Labels: CI

ci: pin FW-CI-templates to NVIDIA-NeMo/FW-CI-templates#480 (mirror branch protection)
  .github/workflows/release.yml
Labels: CI

ci: pin FW-CI-templates to NVIDIA-NeMo/FW-CI-templates#480 (mirror branch protection)
  .github/workflows/release.yml
Labels: CI

ci: pin FW-CI-templates to NVIDIA-NeMo/FW-CI-templates#480 (mirror branch protection)
  .github/workflows/release.yml
Labels: CI

ci: bump FW-CI-templates pin to 3c679d436baa0b926766e9b1e6d149803c506b5d
  .github/workflows/release.yml
Labels: CI

ci: bump FW-CI-templates pin to 57cc8e1ed81d8a1d83cecb2e4a54e04144623bcf
  .github/workflows/release.yml
Labels: CI

ci: bump FW-CI-templates pin to d8ca5ec4a4c4242d0bc2438aa838adebd83e05c4
  .github/workflows/release.yml
Labels: CI

ci: bump FW-CI-templates pin to 46808077ddf43d9815a3df66223a90bb09ab3a3e
  .github/workflows/release.yml
Labels: CI

ci: re-pin FW-CI-templates from SHA to v1.4.0
  .github/workflows/release.yml
Labels: CI

fix(kubeflow): stream only rank 0 + last rank, write all ranks to disk
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): resolve last pod via completion-index label + full-history streaming
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): forward by global rank (node_rank*nproc+local), not pod heuristic
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): make TrainJob launch idempotent on 409 conflict
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): reload kube client across cert rotation for long runs
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): scope code_dir per job to avoid concurrent clobber
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): unique TrainJob name + forward all ranks (deduped)
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): stream logs once, not per replica
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
Labels: torchx, run

fix(kubeflow): forward rank 0 + last rank to stdout (not all-ranks dedup)
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
