Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*

style: apply ruff formatting to hello_kubeflow.py
  examples/kubeflow/hello_kubeflow.py
Labels: documentation

docs: add SECURITY.md
  SECURITY.md
Labels: none

docs: add SECURITY.md
  SECURITY.md
Labels: none

ci: add base_sha to codecov/codecov-action upload step
  .github/workflows/test.yml
Labels: CI

docs: improve README header with badges and fix ip install typo in docs
  README.md
  docs/index.md
Labels: documentation

fix(docs): use GitHub URL for kubeflow example link to avoid MyST xref warning
  docs/guides/executors/kubeflow.md
Labels: documentation

fix(docs): update broken SkyPilot managed jobs URL
  docs/guides/executors/skypilot.md
Labels: documentation

update tests
  nemo_run/core/execution/kubeflow.py
  test/core/execution/test_kubeflow.py
Labels: execution, core, tests

Align kubeflow and kuberay patterns, parameterise subdir, update tests
  nemo_run/core/execution/kubeflow.py
  nemo_run/core/execution/kuberay.py
  nemo_run/run/ray/kuberay.py
  test/core/execution/test_kubeflow.py
  test/run/ray/test_kuberay.py
Labels: execution, executor/kuberay, ray, core, run, tests

update tests
  test/core/execution/test_kubeflow.py
Labels: execution, core, tests

Add specific tests on WorkdirPath usage
  test/run/ray/test_kuberay.py
Labels: ray, run, tests

use subpath in tests
  test/run/torchx_backend/schedulers/test_kubeflow.py
Labels: torchx, run, tests

Initial volume mount spec support for kubeflow executor
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

Update tests to take workdir volume mount
  examples/kubeflow/hello_kubeflow.py
  nemo_run/core/execution/kubeflow.py
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
  test/run/torchx_backend/schedulers/test_kubeflow.py
Labels: execution, torchx, core, run, documentation, tests

Linting and formatting
  nemo_run/core/execution/kuberay.py
  test/core/execution/test_kubeflow.py
Labels: execution, executor/kuberay, core, tests

[ci] refactor: consolidate per-PR + release workflows; use validate-only mode
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/release.yml
Labels: CI

[ci] fix: bump FW-CI pin to slack-notify gate; correct packaging to setuptools
  .github/workflows/release.yml
Labels: CI

[ci] chore: bump FW-CI pin to step-level webhook gate
  .github/workflows/release.yml
Labels: CI

beep boop 🤖: Bumping NeMo Run to v0.10.1
  nemo_run/package_info.py
Labels: none

[ci] chore: bump FW-CI pin to manifest-skip + app-id optional
  .github/workflows/release.yml
Labels: CI

beep boop 🤖: Bumping NeMo Run to v0.10.1
  nemo_run/package_info.py
Labels: none

[ci] chore: bump FW-CI pin to PAT-forwarding fix
  .github/workflows/release.yml
Labels: CI

[ci] chore: bump FW-CI pin to skip-wheel-build + advisory check-manifest
  .github/workflows/release.yml
Labels: CI

[ci] chore: bump FW-CI pin to strict check-manifest
  .github/workflows/release.yml
Labels: CI

[ci] fix: drop pull_request trigger; copy-pr-bot pushes to pull-request/<n> instead
  .github/workflows/release.yml
Labels: CI

[ci] chore: bump FW-CI pin to env-conditional bump (validate-only -> public env)
  .github/workflows/release.yml
Labels: CI

[ci] chore: bump FW-CI pin + default publish-docs=true for push-triggered rehearsal
  .github/workflows/release.yml
Labels: CI

[ci] chore: default publish-docs=true to rehearse build-docs on PR push
  .github/workflows/release.yml
Labels: CI

[ci] chore: bump FW-CI pin (drop hatch support)
  .github/workflows/release.yml
Labels: CI

[ci] chore: bump FW-CI pin (drop PAT support)
  .github/workflows/release.yml
Labels: CI

[ci] chore: drop PAT secret (now unused after FW-CI App-only refactor)
  .github/workflows/release.yml
Labels: CI

beep boop 🤖: Bumping NeMo Run to v0.10.1
  nemo_run/package_info.py
Labels: none

[ci] chore: bump FW-CI pin (GPG optional)
  .github/workflows/release.yml
Labels: CI

beep boop 🤖: Bumping NeMo Run to v0.10.1
  nemo_run/package_info.py
Labels: none

beep boop 🤖: Bumping NeMo Run to v0.10.1
  nemo_run/package_info.py
Labels: none

refactor(release): bump FW-CI pin; drop SSH_KEY/SSH_PWD
  .github/workflows/release.yml
Labels: CI

refactor(release): bump FW-CI pin to ee3b849 for wheel-content-ignore
  .github/workflows/release.yml
Labels: CI

refactor(release): bump FW-CI pin to a129c51 (notify Slack-link fix)
  .github/workflows/release.yml
Labels: CI

refactor(release): bump FW-CI pin to aacccb4 (publish-wheel always runs)
  .github/workflows/release.yml
Labels: CI

refactor(release): bump FW-CI pin to 5cca628 (notify/publish-docs/admin-check always on)
  .github/workflows/release.yml
Labels: CI
