Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

fix
  nemo_run/run/ray/job.py
Labels: ray, run

fix
  nemo_run/run/ray/job.py
Labels: ray, run

fix
  test/run/torchx_backend/test_packaging.py
Labels: torchx, run, tests

fix
  test/core/execution/artifacts/ft_het_slurm.sh
  test/core/execution/artifacts/ft_slurm.sh
Labels: execution, core, tests

fix
  test/run/ray/test_kuberay.py
Labels: ray, run, tests

fix
  test/run/ray/test_kuberay.py
Labels: ray, run, tests

format
  test/run/ray/test_kuberay.py
Labels: ray, run, tests

add test
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

tests
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix test
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

docs: Release docs
  .github/workflows/release-docs.yml
Labels: CI

ci: Add secrets detector
  .github/workflows/config/.secrets.baseline
  .github/workflows/detect-secrets.yml
Labels: CI

[🤖]: Howdy folks, let's bump NeMo Run to `0.9.0rc0.dev0` !
  nemo_run/package_info.py
Labels: none

Fix lint error
  nemo_run/package_info.py
Labels: none

Fix uv sync error
  pyproject.toml
Labels: none

feat: support container-image None in slurm
  nemo_run/core/execution/slurm.py
  test/core/execution/test_slurm.py
Labels: execution, executor/slurm, core, tests

fix
  nemo_run/config.py
  nemo_run/core/execution/slurm.py
  nemo_run/run/torchx_backend/packaging.py
  test/run/torchx_backend/test_packaging.py
  test/test_config.py
Labels: execution, executor/slurm, torchx, core, run, tests

fix
  nemo_run/core/execution/slurm.py
  test/core/execution/artifacts/dummy_slurm.sh
  test/core/execution/test_slurm_templates.py
Labels: execution, executor/slurm, core, tests

fix
  test/core/execution/artifacts/ft_slurm.sh
Labels: execution, core, tests

fix
  pyproject.toml
Labels: none

Update release-docs workflow to use FW-CI-templates v0.72.0
  .github/workflows/release-docs.yml
Labels: CI

Update release-docs workflow to use FW-CI-templates v0.72.0 (#423)
  .github/workflows/release-docs.yml
Labels: CI

Update release-docs workflow to use FW-CI-templates v0.72.0 (#423)
  .github/workflows/release-docs.yml
Labels: CI

Fix uv sync error
  pyproject.toml
Labels: none

Update release workflow to include changelog and docs
  .github/workflows/release.yml
  CHANGELOG.md
Labels: CI

Fix uv sync error (#425)
  pyproject.toml
Labels: none

Update release-docs workflow to use FW-CI-templates v0.72.0 (#423) (#424)
  .github/workflows/release-docs.yml
Labels: CI

Update release workflow to include changelog and docs (#426)
  .github/workflows/release.yml
  CHANGELOG.md
Labels: CI

Update release workflow to include changelog and docs (#426)
  .github/workflows/release.yml
  CHANGELOG.md
Labels: CI

Update release workflow to include changelog and docs (#426) (#427)
  .github/workflows/release.yml
  CHANGELOG.md
Labels: CI

docs: Update docs for 0.8.0
  docs/conf.py
  docs/project.json
  docs/versions1.json
Labels: documentation

Update docs version picker
  docs/versions1.json
Labels: documentation

Remove prerelease suffix
  nemo_run/package_info.py
Labels: none

docs: Update docs for 0.8.0 (#428)
  docs/conf.py
  docs/project.json
  docs/versions1.json
  nemo_run/package_info.py
Labels: documentation

Add urllib3 >=2.6.3 as project dependency and uv override
  pyproject.toml
  uv.lock
Labels: none

docs: Enable nightly docs update
  .github/workflows/release-docs.yml
  .github/workflows/release-nightly-docs.yml
  docs/conf.py
  docs/project.json
  docs/versions1.json
Labels: documentation, CI

Remove cryptography<43 pin and add cryptography override
  pyproject.toml
  uv.lock
Labels: none

Update secrets baseline
  .github/workflows/config/.secrets.baseline
  .github/workflows/detect-secrets.yml
Labels: CI

Update docs picker to include nightly
  .github/workflows/release-docs.yml
  docs/versions1.json
Labels: documentation, CI

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
