Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

fix: PRE_RELEASE
  nemo_run/package_info.py
Labels: none

fix: Prelease
  nemo_run/package_info.py
Labels: none

ci: Wire new release workflow
  .github/workflows/release.yml
Labels: CI

Bump workflow
  .github/workflows/release.yml
Labels: CI

beep boop 🤖: Bumping nemo_run to v0.8.2
  nemo_run/package_info.py
Labels: none

ci: upgrade GitHub Actions for Node.js 24 compatibility
  .github/workflows/changelog-build.yml
  .github/workflows/codeql.yml
  .github/workflows/install.yml
  .github/workflows/nightly.yml
  .github/workflows/ruff-format.yml
  .github/workflows/ruff-lint.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
Labels: CI

[🤖]: Howdy folks, let's bump NeMo Run to `0.10.0rc0.dev0` !
  nemo_run/package_info.py
Labels: none

Update package_info.py
  nemo_run/package_info.py
Labels: none

chore: bump _code_freeze workflow to v0.86.0
  .github/workflows/release-freeze.yml
Labels: CI

feat: add extra_resource_requests and extra_resource_limits to KubeflowExecutor
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

Update DGXCloudExecutor for improved workload management
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/ray/cluster.py
  nemo_run/run/ray/dgxcloud.py
  nemo_run/run/ray/job.py
Labels: execution, executor/dgxcloud, ray, core, run

feat: add extra_resource_requests and extra_resource_limits to KubeflowExecutor (#479)
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

feat: add extra_resource_requests and extra_resource_limits to KubeflowExecutor (#479) (#484)
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

build: add dynamic git-versioning, drop rc0, migrate to setuptools
  .github/workflows/build-test-publish-wheel.yml
  nemo_run/package_info.py
  pyproject.toml
Labels: CI

fix: suppress I001 import-sorting false positive in package_info.py
  nemo_run/package_info.py
Labels: none

fix: suppress E402 and I001 lint false positives in package_info.py
  nemo_run/package_info.py
Labels: none

chore: update uv.lock for setuptools backend and bump ibm-cloud-sdk-core
  uv.lock
Labels: none

fix: include all nemo_run subpackages in setuptools build
  pyproject.toml
Labels: none

Refactor DGXCloudExecutor to use client_id and client_secret in tests
  test/core/execution/test_dgxcloud.py
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run, tests

ci: pin FW-CI-templates to v0.88.1
  .github/workflows/build-test-publish-wheel.yml
Labels: CI

fix: include Jinja2 templates in wheel via package-data
  pyproject.toml
Labels: none

Enhance TestDGXCloudExecutor with launched_from_cluster flag and refactor authentication parameters
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

feat: Support for Lepton preemption configuration
  docs/guides/execution.md
  nemo_run/core/execution/lepton.py
  test/core/execution/test_lepton.py
Labels: execution, executor/lepton, core, documentation, tests

ci: add sync-skills workflow and rename CLAUDE.md to AGENTS.md
  .github/workflows/sync-skills.yml
  AGENTS.md
Labels: CI

ci: use _sync_skills.yml@v0.91.0 reusable workflow
  .github/workflows/sync-skills.yml
Labels: CI

beep boop 🤖: Bumping nemo_run to v0.9.0rc1
  nemo_run/package_info.py
Labels: none

Release 0.9.0
  nemo_run/package_info.py
Labels: none

beep boop 🤖: Bumping nemo_run to v0.9.1
  nemo_run/package_info.py
Labels: none

docs: bump versions1.json to 0.9.0 (latest)
  docs/versions1.json
Labels: documentation

docs: bump project.json and versions1.json to 0.9.0
  docs/project.json
  docs/versions1.json
Labels: documentation

docs: bump project.json and versions1.json to 0.9.0 (#492)
  docs/project.json
  docs/versions1.json
Labels: documentation

add support for sandbox
  nemo_run/run/ray/templates/ray.sub.j2
  nemo_run/run/ray/templates/ray_enroot.sub.j2
Labels: ray, run

docs: fix release version to 0.9.0 in conf.py
  docs/conf.py
Labels: documentation

docs: fix release version to 0.9.0 in conf.py (#493)
  docs/conf.py
Labels: documentation

Add sandbox support to Ray templates and update tests
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_enroot.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
  test/core/execution/artifacts/expected_ray_het_cluster.sub
  test/run/ray/test_slurm_ray_request.py
Labels: execution, ray, core, run, tests

Support path-based Ray templates
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

fix ruff check
  nemo_run/run/torchx_backend/schedulers/slurm.py
Labels: torchx, run

docs: update KubeflowExecutor guide to TrainJob v2 only
  docs/guides/execution.md
Labels: documentation

docs: add KubeflowExecutor e2e example and link from guide
  docs/guides/execution.md
  examples/kubeflow/hello_kubeflow.py
Labels: documentation

docs(kubeflow): add log tailing and SIGINT/SIGTERM cancel handler to example
  examples/kubeflow/hello_kubeflow.py
Labels: documentation

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
