Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*

fix(packaging): quote HybridPackager file paths (#646)
  nemo_run/core/packaging/hybrid.py
  test/core/packaging/test_hybrid.py
Labels: packaging, core, tests

Add init_containers to NvcreExecutor
  nemo_run/core/execution/nvcre.py
  test/core/execution/test_nvcre.py
Labels: execution, core, tests

Fix local JobGroup member status
  nemo_run/run/torchx_backend/schedulers/local.py
  test/run/torchx_backend/schedulers/test_local.py
Labels: torchx, run, tests

Don't HTML-escape SlurmTemplate scripts
  nemo_run/core/execution/launcher.py
  test/core/execution/test_launcher.py
Labels: execution, executor/launcher, core, tests

Honor call=False in import_executor
  nemo_run/core/execution/base.py
  test/core/execution/test_base.py
Labels: execution, core, tests
