Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

fix: use title in Experiment.from_title not found message
  nemo_run/run/experiment.py
  test/run/test_experiment.py
Labels: run, tests

fix: avoid 'None' prefix in SlurmExecutor job names
  nemo_run/core/execution/slurm.py
  test/core/execution/test_slurm_job_name.py
Labels: execution, executor/slurm, core, tests

fix: preserve falsy primitive args in Config/Partial binding
  nemo_run/config.py
  test/test_config.py
Labels: tests

fix: replace deprecated ast.* literal types with ast.Constant
  nemo_run/cli/cli_parser.py
  nemo_run/cli/lazy.py
  test/cli/test_ast_constants.py
Labels: CLI, tests

fix: correct return type annotation of get_nsys_entrypoint
  nemo_run/core/execution/base.py
Labels: execution, core

fix: log exceptions instead of silently swallowing them in Job/JobGroup.status
  nemo_run/run/job.py
  test/run/test_job.py
Labels: run, tests

fix(docker): persist cancellation status
  nemo_run/run/torchx_backend/schedulers/docker.py
  test/run/torchx_backend/schedulers/test_docker.py
Labels: torchx, run, tests

test(docker): cover missing cancellation request
  nemo_run/run/torchx_backend/schedulers/docker.py
  test/run/torchx_backend/schedulers/test_docker.py
Labels: torchx, run, tests

fix(ci): skip release rehearsal for forks
  .github/workflows/release.yml
Labels: CI

chore(ci): pin GitHub Actions to commit SHAs
  .github/workflows/changelog-build.yml
  .github/workflows/cherry-pick-release-commit.yml
  .github/workflows/close-inactive-issue-pr.yml
  .github/workflows/codeql.yml
  .github/workflows/community-bot.yml
  .github/workflows/copyright-check.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/install.yml
  .github/workflows/nightly.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-freeze.yml
  .github/workflows/release.yml
  .github/workflows/ruff-format.yml
  .github/workflows/ruff-lint.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
Labels: CI

chore(ci): pin GitHub Actions to commit SHAs
  .github/workflows/changelog-build.yml
  .github/workflows/cherry-pick-release-commit.yml
  .github/workflows/close-inactive-issue-pr.yml
  .github/workflows/codeql.yml
  .github/workflows/community-bot.yml
  .github/workflows/copyright-check.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/install.yml
  .github/workflows/nightly.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-freeze.yml
  .github/workflows/release.yml
  .github/workflows/ruff-format.yml
  .github/workflows/ruff-lint.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
Labels: CI

chore(dependencies): update package versions and security fixes
  pyproject.toml
  uv.lock
Labels: none

fix: cherry-pick workflow triggers on main instead of release branches
  .github/workflows/cherry-pick-release-commit.yml
  tests/test_cherry_pick_trigger.py
Labels: CI

fix: nightly tag job lacks contents:write permission
  .github/workflows/nightly.yml
  tests/test_nightly_permissions.py
Labels: CI

fix: publish-docs toggle forced true so false input is ignored
  .github/workflows/release.yml
  tests/test_release_publish_docs.py
Labels: CI

fix: publish-docs input is ignored when set to false
  .github/workflows/release.yml
  tests/test_release_publish_docs.py
Labels: CI

fixup: address auditor feedback
  .github/workflows/release.yml
Labels: CI

K8s/XCalibur Support
  nemo_run/__init__.py
  nemo_run/core/execution/__init__.py
  nemo_run/core/execution/xcalibur.py
  nemo_run/run/experiment.py
  nemo_run/run/torchx_backend/schedulers/api.py
  nemo_run/run/torchx_backend/schedulers/xcalibur.py
  pyproject.toml
Labels: execution, torchx, core, run

chore(ci): bump community workflow to v1.8.7
  .github/workflows/community-bot.yml
Labels: CI

fix(ci): pass community workflow app credentials
  .github/workflows/community-bot.yml
Labels: CI

[🤖]: Howdy folks, let's bump NeMo Run to `0.12.0` !
  nemo_run/package_info.py
Labels: none

Update nemo_run/package_info.py
  nemo_run/package_info.py
Labels: none

Update nemo_run/package_info.py
  nemo_run/package_info.py
Labels: none

fix: poll job.status() once per job in Experiment.status()
  nemo_run/run/experiment.py
  test/run/test_experiment.py
Labels: run, tests

fix: update docs and add regression tests for issue #559
  docs/guides/cli.md
  test/cli/test_api.py
Labels: CLI, documentation, tests

fix: correct return type annotation of get_nsys_entrypoint
  nemo_run/core/execution/base.py
  nemo_run/core/execution/slurm.py
Labels: execution, executor/slurm, core

Support for KAI scheduler in XCalibur executor Address review comments
  nemo_run/core/execution/xcalibur.py
  nemo_run/run/torchx_backend/schedulers/xcalibur.py
Labels: execution, torchx, core, run

feat(slurm): persist multiplexed ssh connections
  nemo_run/core/tunnel/client.py
  nemo_run/core/tunnel/rsync.py
  test/core/tunnel/test_client.py
  test/core/tunnel/test_rsync.py
Labels: core, tests

fix(slurm): use conventional context method receivers
  nemo_run/core/tunnel/client.py
Labels: core

Fix detached runs for XCalibur jobs
  nemo_run/run/experiment.py
Labels: run

fix(tunnel): refresh multiplexed ssh masters
  docs/guides/executors/slurm.md
  nemo_run/core/tunnel/client.py
  test/core/tunnel/test_client.py
Labels: core, documentation, tests

feat(tunnel): separate OpenSSH master policy
  docs/guides/executors/slurm.md
  nemo_run/core/tunnel/client.py
  nemo_run/core/tunnel/rsync.py
  test/core/tunnel/test_client.py
  test/core/tunnel/test_rsync.py
Labels: core, documentation, tests

fix(tunnel): harden OpenSSH control reuse
  docs/guides/executors/slurm.md
  nemo_run/core/tunnel/client.py
  nemo_run/core/tunnel/rsync.py
  test/core/tunnel/test_client.py
  test/core/tunnel/test_rsync.py
Labels: core, documentation, tests

docs: Update version picker for 0.11.0
  docs/versions1.json
Labels: documentation

docs: Update version picker for 0.11.0
  docs/versions1.json
Labels: documentation

docs: Update docs for 0.11.0
  docs/conf.py
  docs/project.json
Labels: documentation

docs: Update docs for 0.11.0 (#585)
  docs/conf.py
  docs/project.json
  docs/versions1.json
Labels: documentation

fix(cli): stop --yaml and --yes both claiming -y
  docs/guides/cli.md
  nemo_run/cli/api.py
  test/cli/test_api.py
Labels: CLI, api, documentation, tests

feat(run): let downstream executors opt in to JobGroup
  nemo_run/core/execution/base.py
  nemo_run/core/execution/docker.py
  nemo_run/core/execution/local.py
  nemo_run/core/execution/slurm.py
  nemo_run/run/job.py
  test/run/test_job.py
Labels: execution, executor/slurm, executor/docker, core, run, tests

fix(skypilot): normalize Skypilot managed job ids to int
  nemo_run/core/execution/skypilot_jobs.py
  test/core/execution/test_skypilot_jobs.py
Labels: execution, executor/skypilot, core, tests

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
