Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*

Add logs dir to container mount for ray slurm (#287)
  nemo_run/run/ray/slurm.py
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

Fix skypilot archive mount bug (#288)
  nemo_run/core/execution/skypilot.py
Labels: execution, executor/skypilot, core

Use thread pool for status, run methods inside experiment + other fixes (#295)
  nemo_run/core/execution/slurm.py
  nemo_run/run/experiment.py
  nemo_run/run/job.py
  nemo_run/run/torchx_backend/launcher.py
  nemo_run/run/torchx_backend/packaging.py
  nemo_run/run/torchx_backend/runner.py
  test/run/test_experiment.py
  test/run/test_job.py
  test/run/torchx_backend/test_launcher.py
Labels: execution, executor/slurm, torchx, core, run, tests

Update release.yml (#306)
  .github/workflows/release.yml
Labels: CI

ci(fix): Use GITHUB_TOKEN for community bot (#302)
  .github/workflows/community-bot.yml
Labels: CI

Upgrade skypilot to v0.10.0, introduce network_tier (#297)
  nemo_run/core/execution/skypilot.py
  pyproject.toml
  test/core/execution/test_skypilot.py
  uv.lock
Labels: execution, executor/skypilot, core, tests

ci: Add community-bot (#300)
  .github/workflows/close-inactive-issue-pr.yml
  .github/workflows/community-bot.yml
Labels: CI

Fixes for multi-node execution with torchrun + LocalExecutor (#251)
  nemo_run/run/experiment.py
  nemo_run/run/torchx_backend/components/torchrun.py
Labels: torchx, run

Add option to specify --container-env for srun (#293)
  nemo_run/core/execution/slurm.py
  test/core/execution/test_slurm_templates.py
Labels: execution, executor/slurm, core, tests

Remove breaking torchrun config for single-node runs (#292)
  nemo_run/core/execution/skypilot.py
Labels: execution, executor/skypilot, core

Correctly append tar files for packaging (#317)
  nemo_run/core/packaging/git.py
  test/core/packaging/test_git.py
Labels: packaging, core, tests

Added Pre-Launch Commands Support to LeptonExecutor (#312)
  nemo_run/core/execution/lepton.py
  test/core/execution/test_lepton.py
Labels: execution, executor/lepton, core, tests

Add nsys patch in ray sub template (#318)
  nemo_run/run/ray/templates/ray.sub.j2
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

Create CHANGELOG.md (#314)
  CHANGELOG.md
Labels: none

changelog workflow (#315)
  .github/workflows/changelog-build.yml
Labels: CI

Update package_info.py (#322)
  nemo_run/package_info.py
Labels: none

Remove ray deprecated dashboard-grpc-port arg (#325)
  nemo_run/run/ray/templates/ray.sub.j2
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

Specify nodes for gpu metrics collection and split data to each rank (#320)
  nemo_run/core/execution/slurm.py
  test/core/execution/test_slurm.py
Labels: execution, executor/slurm, core, tests

Add ray head start timeout (#324)
  nemo_run/run/ray/templates/ray.sub.j2
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

Apply '_enable_goodbye_message' check to both goodbye messages. (#319)
  nemo_run/run/experiment.py
Labels: run

Update community-bot to add issues to shared project (#321)
  .github/workflows/community-bot.yml
Labels: CI

Add broken links check in docs (#333)
  .github/workflows/build-docs.yml
  docs/source/conf.py
  docs/source/guides/management.md
  docs/source/index.rst
Labels: documentation, CI

Add image pull secrets param for lepton (#330)
  nemo_run/core/execution/lepton.py
Labels: execution, executor/lepton, core

Bump community-bot to 0.54.4 (#332)
  .github/workflows/community-bot.yml
Labels: CI

add a grace for Jobs that may start in Unknown (#291)
  nemo_run/core/execution/lepton.py
Labels: execution, executor/lepton, core

Add node reservations for LeptonExecutor (#336)
  docs/source/guides/execution.md
  nemo_run/core/execution/lepton.py
  test/core/execution/test_lepton.py
Labels: execution, executor/lepton, core, documentation, tests

Update cherry-pick workflow to use version 0.63.0 (#344)
  .github/workflows/cherry-pick-release-commit.yml
Labels: CI

Add retry_until_up (#340)
  nemo_run/core/execution/skypilot.py
Labels: execution, executor/skypilot, core

Support SkyPilot Storage configurations in `file_mounts` for automatic cloud sync (#335)
  nemo_run/core/execution/skypilot.py
  test/core/execution/test_skypilot.py
Labels: execution, executor/skypilot, core, tests

fix nodes -> num_nodes (#338)
  docs/source/guides/execution.md
Labels: documentation

Backward compatibility for SkyPilot 0.10.3+ (#339)
  nemo_run/core/execution/skypilot.py
Labels: execution, executor/skypilot, core

Update release notes header in changelog build (#355)
  .github/workflows/changelog-build.yml
Labels: CI

Documentation Restructurting (#350)
  docs/conf.py
  docs/documentation.md
  docs/faqs.md
  docs/guides/cli.md
  docs/guides/configuration.md
  docs/guides/execution.md
  docs/guides/index.md
  docs/guides/management.md
  docs/guides/ray.md
  docs/guides/why-use-nemo-run.md
  docs/index.md
  docs/project.json
  docs/versions1.json
  pyproject.toml
  uv.lock
Labels: ray, documentation

Bumping to 0.5.0 (#352)
  docs/conf.py
  docs/project.json
  docs/versions1.json
Labels: documentation

remove custom dir (#351)
  .github/workflows/build-docs.yml
  docs/guides/execution.md
Labels: documentation, CI

add changelog-config (#356)
  .github/workflows/config/changelog-config.json
Labels: CI

Create SkypilotJobsExecutor to allow running managed jobs (#343)
  nemo_run/__init__.py
  nemo_run/core/execution/skypilot_jobs.py
  nemo_run/run/experiment.py
  nemo_run/run/torchx_backend/schedulers/api.py
  nemo_run/run/torchx_backend/schedulers/skypilot_jobs.py
  pyproject.toml
  test/core/execution/test_skypilot_jobs.py
  test/run/torchx_backend/schedulers/test_skypilot_jobs.py
Labels: execution, executor/skypilot, torchx, core, run, tests

Refactor tar packaging logic to work for submodule and extra repo (#347)
  nemo_run/core/packaging/git.py
  nemo_run/run/experiment.py
  test/core/packaging/test_git.py
Labels: packaging, core, run, tests

new changelog-build (#367)
  .github/workflows/changelog-build.yml
Labels: CI

Changelog 0.6.0 (#357)
  .github/workflows/config/changelog-config.json
  CHANGELOG.md
Labels: CI
