Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

feat: add copyright check
  .github/workflows/copyright-check.yml
Labels: CI

feat: add copyright check
  .github/workflows/copyright-check.yml
Labels: CI

feat: add copyright check
  .github/workflows/copyright-check.yml
Labels: CI

Add testing note to README
  README.md
Labels: documentation

Add test print statement to test.py
  nemo_run/test.py
Labels: none

Add port parameter to SSHTunnel
  nemo_run/core/tunnel/client.py
Labels: core

Fix ci
  nemo_run/core/tunnel/client.py
  test/core/tunnel/test_client.py
Labels: core, tests

Fix copyright
  nemo_run/core/tunnel/client.py
  test/core/tunnel/test_client.py
Labels: core, tests

Fix copyright
  nemo_run/core/tunnel/client.py
  test/core/tunnel/test_client.py
Labels: core, tests

Fix copyright
  nemo_run/core/tunnel/client.py
  test/core/tunnel/test_client.py
Labels: core, tests

fix host
  nemo_run/run/ray/templates/ray.sub.j2
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

Update ray template
  nemo_run/run/ray/templates/ray.sub.j2
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

add ray enroot exec template
  nemo_run/run/ray/templates/ray_enroot.sub.j2
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/core/execution/artifacts/expected_ray_cluster_enroot.sub
  test/run/ray/test_slurm_ray_request.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: execution, ray, torchx, core, run, tests

fix
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

fix
  nemo_run/run/ray/templates/ray_enroot.sub.j2
  test/core/execution/artifacts/expected_ray_cluster_enroot.sub
Labels: execution, ray, core, run, tests

fix
  nemo_run/run/ray/templates/ray_enroot.sub.j2
  test/core/execution/artifacts/expected_ray_cluster_enroot.sub
Labels: execution, ray, core, run, tests

fix
  nemo_run/run/ray/templates/ray_enroot.sub.j2
  test/core/execution/artifacts/expected_ray_cluster_enroot.sub
Labels: execution, ray, core, run, tests

feat: Stream DGXC logs
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run

revert
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

revert
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

remove
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

fix tests
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: torchx, run, tests

remove
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run

fix tests
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix
  test/core/execution/test_dgxcloud.py
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run, tests

fix: limit docker hostname to 32 characters
  nemo_run/core/execution/docker.py
  test/core/execution/test_docker.py
Labels: execution, executor/docker, core, tests

fix
  nemo_run/core/execution/docker.py
  test/core/execution/test_docker.py
Labels: execution, executor/docker, core, tests

fix(typo): exit_code prints empty
  nemo_run/core/execution/templates/slurm.sh.j2
  test/core/execution/artifacts/ft_het_slurm.sh
  test/core/execution/artifacts/group_resource_req_slurm.sh
  test/core/execution/artifacts/group_slurm.sh
  test/core/execution/artifacts/het_slurm.sh
Labels: execution, executor/slurm, core, tests

fix ray templates by using --exclusive to launch ray nodes
  nemo_run/run/ray/templates/ray.sub.j2
  nemo_run/run/ray/templates/ray_enroot.sub.j2
Labels: ray, run

fix
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_enroot.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, core, tests

add test for executor
  nemo_run/core/execution/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

add test for scheduler
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: torchx, run, tests

fix
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: torchx, run, tests

remove
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

adding secret variable in Lepton
  nemo_run/core/execution/lepton.py
Labels: execution, executor/lepton, core

finetune on dgxcloud with nemo-run and deploy on bedrock example (#286)
  examples/dgxcloud/sft-finetune/convert.sh
  examples/dgxcloud/sft-finetune/finetune-llama3.1-70b-sft.ipynb
  examples/dgxcloud/sft-finetune/sft-finetune-llama3.1-70b.sh
Labels: executor/dgxcloud, documentation

fix docs tutorial links and add intro to guides/index.md (#285)
  docs/source/conf.py
  docs/source/guides/index.md
  docs/source/guides/index.rst
  docs/source/guides/management.md
  docs/source/index.rst
  docs/source/project.json
  docs/source/versions1.json
Labels: documentation

docs: Fixing doc build issue (#290)
  docs/source/guides/execution.md
Labels: documentation

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
