Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

feat(run): let downstream executors opt in to JobGroup (#587)
  nemo_run/core/execution/base.py
  nemo_run/core/execution/docker.py
  nemo_run/core/execution/local.py
  nemo_run/core/execution/slurm.py
  nemo_run/run/job.py
  test/run/test_job.py
Labels: execution, executor/slurm, executor/docker, core, run, tests

Support path-based Ray templates (#495)
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

Add ntasks to SlurmExecutor (#381) (#589)
  nemo_run/core/execution/slurm.py
  nemo_run/run/ray/slurm.py
  test/core/execution/test_slurm.py
  test/core/execution/test_slurm_templates.py
  test/run/ray/test_slurm_ray_request.py
Labels: execution, executor/slurm, ray, core, run, tests

fix(packaging): quote PatternPackager output paths
  nemo_run/core/packaging/pattern.py
  test/core/packaging/test_pattern.py
Labels: packaging, core, tests

Resolved review comments from svcnvidia-nemo-ci bot
  nemo_run/core/execution/nvcre.py
  nemo_run/run/torchx_backend/schedulers/nvcre.py
  test/core/execution/test_nvcre.py
  test/run/torchx_backend/schedulers/test_nvcre.py
Labels: execution, torchx, core, run, tests

fix(packaging): quote PatternPackager output paths (#637)
  nemo_run/core/packaging/pattern.py
  test/core/packaging/test_pattern.py
Labels: packaging, core, tests

fix(cli): only treat delimited run/executor/plugins prefixes as overwrites (#605)
  nemo_run/cli/api.py
  test/cli/test_api.py
Labels: CLI, api, tests

ci(merge-queue): run essential checks on merge groups (#638)
  .github/workflows/codeql.yml
  .github/workflows/copyright-check.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/install.yml
  .github/workflows/release.yml
  .github/workflows/ruff-format.yml
  .github/workflows/ruff-lint.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
Labels: CI

chore(deps): upgrade development and documentation dependencies
  uv.lock
Labels: none

Resolved review comments #2 from svcnvidia-nemo-ci bot
  nemo_run/core/execution/nvcre.py
  nemo_run/run/torchx_backend/schedulers/nvcre.py
  test/core/execution/test_nvcre.py
  test/run/torchx_backend/schedulers/test_nvcre.py
Labels: execution, torchx, core, run, tests

fix(cli): keep the compound TYPE_CHECKING fallback reachable
  nemo_run/cli/cli_parser.py
  test/cli/dummy_future_annotations.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

Carry Lepton data-mover payload across many argv entries, not one
  nemo_run/core/execution/lepton.py
  test/core/execution/test_lepton.py
Labels: execution, executor/lepton, core, tests

chore(deps): upgrade development and documentation dependencies (#639)
  uv.lock
Labels: none

Carry Lepton data-mover payload across many argv entries, not one (#640)
  nemo_run/core/execution/lepton.py
  test/core/execution/test_lepton.py
Labels: execution, executor/lepton, core, tests

fix(cli): keep module globals in the TYPE_CHECKING retry namespace
  nemo_run/cli/cli_parser.py
  test/cli/dummy_future_annotations.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

fix(cli): resolve string and future annotations in cli parser (#374) (#613)
  nemo_run/cli/cli_parser.py
  test/cli/dummy_future_annotations.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

Fix to include node identity in persistent profiling filenames
  nemo_run/core/execution/nvcre.py
  nemo_run/run/torchx_backend/schedulers/nvcre.py
  test/core/execution/test_nvcre.py
  test/run/torchx_backend/schedulers/test_nvcre.py
Labels: execution, torchx, core, run, tests

Ruff check fixes
  nemo_run/core/execution/nvcre.py
  test/core/execution/test_nvcre.py
Labels: execution, core, tests

Fixed the submit code for Partials
  nemo_run/core/execution/nvcre.py
  nemo_run/core/runners/fdl_runner.py
  nemo_run/run/experiment.py
  nemo_run/run/torchx_backend/schedulers/nvcre.py
  test/run/torchx_backend/schedulers/test_nvcre.py
  test/run/torchx_backend/schedulers/test_nvcre_main_module.py
Labels: execution, torchx, core, run, tests

Support for NVCRE executor (#579)
  nemo_run/__init__.py
  nemo_run/core/execution/__init__.py
  nemo_run/core/execution/nvcre.py
  nemo_run/core/runners/fdl_runner.py
  nemo_run/run/experiment.py
  nemo_run/run/torchx_backend/schedulers/api.py
  nemo_run/run/torchx_backend/schedulers/nvcre.py
  pyproject.toml
  test/core/execution/test_nvcre.py
  test/run/torchx_backend/schedulers/test_nvcre.py
  test/run/torchx_backend/schedulers/test_nvcre_main_module.py
Labels: execution, torchx, core, run, tests

feat(ray): let SlurmRayJob attach to an existing RayCluster by name
  nemo_run/run/ray/job.py
  nemo_run/run/ray/slurm.py
  test/run/ray/test_slurm.py
Labels: ray, run, tests

Fix Slurm noquote marker handling (#556)
  nemo_run/core/execution/slurm.py
  test/core/execution/test_slurm_templates.py
Labels: execution, executor/slurm, core, tests

fix(config): apply walk/broadcast to nested configs once per call
  nemo_run/config.py
  test/test_config.py
Labels: tests

fix(cli): strip only a matching pair of quotes from CLI values
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

ci(code-freeze): use github app authentication
  .github/workflows/release-freeze.yml
Labels: CI

Fix incomplete JobGroup states and cover aggregation
  nemo_run/run/job.py
  test/run/test_job.py
Labels: run, tests

Format JobGroup regression tests
  test/run/test_job.py
Labels: run, tests

test(cli): keep escaped quotes inside a dict value
  test/cli/test_cli_parser.py
Labels: CLI, tests

test(config): cover walk with several keys two levels down
  test/test_config.py
Labels: tests

fix(config): apply walk/broadcast to nested configs once per call (#642)
  nemo_run/config.py
  test/test_config.py
Labels: tests

fix(cli): strip only a matching pair of quotes from CLI values (#643)
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

Fix JobGroup aggregation test parametrization
  test/run/test_job.py
Labels: run, tests

Fix JobGroup state aggregation (#557)
  nemo_run/run/job.py
  test/run/test_job.py
Labels: run, tests

Keep an apostrophe inside an unquoted constructor word.
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

ci(code-freeze): pin merged github app workflow
  .github/workflows/release-freeze.yml
Labels: CI

fix(packaging): quote GitArchivePackager paths
  nemo_run/core/packaging/git.py
  test/core/packaging/test_git.py
Labels: packaging, core, tests

Fix docker scheduler state aggregation
  nemo_run/run/torchx_backend/schedulers/docker.py
  test/run/torchx_backend/schedulers/test_docker.py
Labels: torchx, run, tests

fix(packaging): quote GitArchivePackager paths (#645)
  nemo_run/core/packaging/git.py
  test/core/packaging/test_git.py
Labels: packaging, core, tests

Keep a comma that sits inside a constructor string (#618)
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

fix(packaging): quote HybridPackager file paths
  nemo_run/core/packaging/hybrid.py
  test/core/packaging/test_hybrid.py
Labels: packaging, core, tests

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
