Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

headers
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

newline
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

disable flake8
  .vscode/settings.json
Labels: none

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

more tests
  nemo_run/core/execution/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

remove unused import
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

test stream_url_async
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

cleanup
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

Add Lepton RayCluster tests
  nemo_run/core/execution/lepton.py
  nemo_run/run/ray/cluster.py
  nemo_run/run/ray/job.py
  nemo_run/run/ray/lepton.py
  test/run/ray/test_lepton.py
  uv.lock
Labels: execution, executor/lepton, ray, core, run, tests

use native typing
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

Update workflow template version to v0.66.0
  .github/workflows/build-test-publish-wheel.yml
Labels: CI

fix: Retry polling token
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

keep original behavior
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

feat: Stream logs to disk
  nemo_run/core/execution/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

Set container_env for slurm sbatch when using env_vars
  nemo_run/core/execution/slurm.py
Labels: execution, executor/slurm, core

Fix vulnerability in `cryptography`
  pyproject.toml
Labels: none

remove unnecessary tail output
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

beep boop: Update changelog (#396) (#397)
  CHANGELOG.md
Labels: none

Update nvidia-sphinx-theme
  uv.lock
Labels: none

[🤖]: Howdy folks, let's bump to `Version(__version__).major.Version(__version__).minor.Version(__version__).microrc1.dev0` !
  nemo_run/package_info.py
Labels: none

Update version from 0.7.0rc0.dev0 to 0.7.0
  nemo_run/package_info.py
Labels: none

Update version from 0.7.0rc0.dev0 to 0.7.0 (#400)
  nemo_run/package_info.py
Labels: none

fix: DGXC logstreaming
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

self.nodes
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

revert
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

log_all_ranks
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

log-allranks_0
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

Test gpus_per_node at 4 on grace blackwell
  nemo_run/run/ray/templates/ray.sub.j2
Labels: ray, run

Drop version restriction
  pyproject.toml
Labels: none

Switch to `torchx` from GitHub (i.e. `main` branch) directly
  pyproject.toml
Labels: none

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
