Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

spelling (#359)
  nemo_run/run/experiment.py
Labels: run

fix: exit code docker runs (#365)
  nemo_run/core/execution/docker.py
  nemo_run/run/torchx_backend/schedulers/docker.py
  test/core/execution/test_docker.py
  test/run/torchx_backend/schedulers/test_docker.py
Labels: execution, executor/docker, torchx, core, run, tests

update copyright check version
  .github/workflows/copyright-check.yml
Labels: CI

Add port parameter to SSHTunnel (#372)
  nemo_run/core/tunnel/client.py
  test/core/tunnel/test_client.py
Labels: core, tests

fix host (#373)
  nemo_run/run/ray/templates/ray.sub.j2
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

fix
  .github/workflows/copyright-check.yml
Labels: CI

feat: add copyright check (#369)
  .github/workflows/copyright-check.yml
Labels: CI

feat: copyright check (#370)
  .github/workflows/copyright-check.yml
Labels: CI

fix2
  .github/workflows/copyright-check.yml
Labels: CI

lintfix
  test/dummy_type.py
Labels: tests

Update ray template (#375)
  nemo_run/run/ray/templates/ray.sub.j2
  nemo_run/run/ray/templates/ray_enroot.sub.j2
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/core/execution/artifacts/expected_ray_cluster_enroot.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
  test/run/ray/test_slurm_ray_request.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: execution, ray, torchx, core, run, tests

undo
  .github/workflows/copyright-check.yml
Labels: CI

fix ray templates by using --exclusive to launch ray nodes (#380)
  nemo_run/run/ray/templates/ray.sub.j2
  nemo_run/run/ray/templates/ray_enroot.sub.j2
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_enroot.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

add copyright notice
  docs/conf.py
  examples/docker/hello_docker.py
  examples/entrypoint/experiment.py
  examples/entrypoint/task.py
  examples/entrypoint/task_with_defaults.py
  nemo_run/cli/lazy.py
  nemo_run/core/execution/dgxcloud.py
  nemo_run/core/execution/launcher.py
  nemo_run/core/execution/lepton.py
  nemo_run/core/execution/skypilot_jobs.py
  nemo_run/core/packaging/hybrid.py
  nemo_run/run/job.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/lepton.py
  nemo_run/run/torchx_backend/schedulers/skypilot_jobs.py
  test/cli/test_config.py
  test/cli/test_lazy.py
  test/core/execution/test_skypilot_jobs.py
  test/core/packaging/test_hybrid.py
  test/core/tunnel/test_rsync.py
  test/dummy_script.py
  test/dummy_type.py
  test/run/test_job.py
  test/run/torchx_backend/schedulers/test_skypilot_jobs.py
Labels: CLI, execution, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/launcher, torchx, packaging, core, run, documentation, tests

fix(typo): exit_code prints empty (#379)
  nemo_run/core/execution/templates/slurm.sh.j2
  test/core/execution/artifacts/ft_het_slurm.sh
  test/core/execution/artifacts/group_resource_req_slurm.sh
  test/core/execution/artifacts/group_slurm.sh
  test/core/execution/artifacts/het_slurm.sh
Labels: execution, executor/slurm, core, tests

added tests for env var
  test/core/execution/test_lepton.py
Labels: execution, executor/lepton, core, tests

fix: limit docker hostname to 32 characters (#378)
  nemo_run/core/execution/docker.py
  test/core/execution/test_docker.py
Labels: execution, executor/docker, core, tests

linting
  test/core/execution/test_lepton.py
Labels: execution, executor/lepton, core, tests

linting
  test/core/execution/test_lepton.py
Labels: execution, executor/lepton, core, tests

added tests for env var
  test/core/execution/test_lepton.py
Labels: execution, executor/lepton, core, tests

adding secret variable in Lepton
  nemo_run/core/execution/lepton.py
Labels: execution, executor/lepton, core

Revert "fix ray templates by using --exclusive to launch ray nodes (#380)"
  nemo_run/run/ray/templates/ray.sub.j2
  nemo_run/run/ray/templates/ray_enroot.sub.j2
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_enroot.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

fix
  nemo_run/run/ray/templates/ray.sub.j2
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

Fix link it readme
  README.md
Labels: documentation

making name unique and add resource shape for lepton raycluster
  nemo_run/run/ray/lepton.py
Labels: ray, run

Add Ray support for DGX Cloud Lepton
  nemo_run/run/ray/cluster.py
  nemo_run/run/ray/job.py
  nemo_run/run/ray/lepton.py
Labels: ray, run

adding head node reference in RayCluster, support defining secrets in RayCluster and linting
  nemo_run/run/ray/cluster.py
  nemo_run/run/ray/lepton.py
Labels: ray, run

Remove Slurm packager comments from RayCluster
  nemo_run/run/ray/lepton.py
Labels: ray, run

Fix RayCluster head resource shape
  nemo_run/run/ray/lepton.py
Labels: ray, run

Update LeptonRay comments
  nemo_run/run/ray/lepton.py
Labels: ray, run

Fix RayJob logs streaming connection dropping
  nemo_run/run/ray/lepton.py
Labels: ray, run

Make RayCluster head resource shape optional
  nemo_run/run/ray/lepton.py
Labels: ray, run

fix: Update README.md
  README.md
Labels: documentation

Add doc for DGXC Lepton RayClusters
  docs/guides/ray.md
Labels: ray, documentation

Update license date
  nemo_run/run/ray/lepton.py
Labels: ray, run

fix broken links
  README.md
Labels: documentation

Fix Ray guide typo
  docs/guides/ray.md
Labels: ray, documentation

Make cluster readiness timeout a variable
  nemo_run/run/ray/job.py
  nemo_run/run/ray/lepton.py
Labels: ray, run

Remove implicit returns
  nemo_run/run/ray/lepton.py
Labels: ray, run

Remove unused local variable
  nemo_run/run/ray/lepton.py
Labels: ray, run

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
