Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

feat(slurm): add ntasks to SlurmExecutor
  nemo_run/core/execution/slurm.py
  test/core/execution/test_slurm_templates.py
Labels: execution, executor/slurm, core, tests

docs(skypilot): document cluster teardown behaviour
  docs/guides/executors/skypilot.md
Labels: documentation

ci: bump release library to v1.8.10
  .github/workflows/release.yml
Labels: CI

Added tests to improve test coverage
  test/core/execution/test_xcalibur.py
  test/run/torchx_backend/schedulers/test_xcalibur.py
Labels: execution, torchx, core, run, tests

Add Renovate configuration file
  renovate.json
Labels: none

Add Renovate configuration file (#593)
  renovate.json
Labels: none

chore: add build constraint for setuptools version in pyproject.toml
  pyproject.toml
Labels: none

chore: add build constraint for setuptools version in uv.lock
  uv.lock
Labels: none

chore: add build constraint for setuptools version in pyproject.toml (#595)
  pyproject.toml
  uv.lock
Labels: none

Add Renovate configuration file (#593)
  renovate.json
Labels: none

chore: add build constraint for setuptools version in pyproject.toml (#595)
  pyproject.toml
  uv.lock
Labels: none

fix(cli): handle Windows config section paths
  nemo_run/cli/_paths.py
  nemo_run/cli/api.py
  nemo_run/cli/config.py
  nemo_run/cli/lazy.py
  test/cli/test_api.py
  test/cli/test_config_paths.py
Labels: CLI, api, tests

chore: update Renovate configuration for enhanced security and dependency management
  renovate.json
Labels: none

Update renovate.json with security package rules
  renovate.json
Labels: none

chore: update Renovate configuration for enhanced security and dependency management (#600)
  renovate.json
Labels: none

Rename XCalibur to Nvcre
  nemo_run/__init__.py
  nemo_run/core/execution/__init__.py
  nemo_run/core/execution/nvcre.py
  nemo_run/run/experiment.py
  nemo_run/run/torchx_backend/schedulers/api.py
  nemo_run/run/torchx_backend/schedulers/nvcre.py
  pyproject.toml
  test/core/execution/test_nvcre.py
  test/run/torchx_backend/schedulers/test_nvcre.py
Labels: execution, torchx, core, run, tests

fix(cli): only match prefixed overwrites on word boundaries in _parse_prefixed_args
  nemo_run/cli/api.py
  test/cli/test_api.py
Labels: CLI, api, tests

fix(cli): support unparameterized list/dict annotations in the CLI parser
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

fix(cli): honor skip_confirmation on @run.cli.entrypoint
  nemo_run/cli/api.py
  test/cli/test_api.py
Labels: CLI, api, tests

fix(cli): remove stray 'Configuring global options' debug print
  nemo_run/cli/api.py
  test/cli/test_api.py
Labels: CLI, api, tests

Job name is derived from execution-id, torch wrapper simplified
  nemo_run/core/execution/nvcre.py
  nemo_run/run/torchx_backend/schedulers/nvcre.py
  test/core/execution/test_nvcre.py
  test/run/torchx_backend/schedulers/test_nvcre.py
Labels: execution, torchx, core, run, tests

fix(cli): resolve string and future annotations in cli parser (#374)
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

Keep a comma that sits inside a constructor string.
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

Resolved ruff format and codeql errors
  nemo_run/core/execution/nvcre.py
  test/core/execution/test_nvcre.py
  test/run/torchx_backend/schedulers/test_nvcre.py
Labels: execution, torchx, core, run, tests

Updated launch.sh file permissions per CodeQL
  nemo_run/core/execution/nvcre.py
Labels: execution, core

ci(copy-pr-bot): run pr checks on trusted mirror pushes
  .github/copy-pr-bot.yaml
  .github/workflows/codeql.yml
  .github/workflows/copyright-check.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/install.yml
  .github/workflows/release.yml
  .github/workflows/ruff-format.yml
  .github/workflows/ruff-lint.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
Labels: CI

ci(copy-pr-bot): use the default trustee policy
  .github/copy-pr-bot.yaml
  CONTRIBUTING.md
Labels: CI

ci(copy-pr-bot): run pr checks on mirror pushes (#627)
  .github/copy-pr-bot.yaml
  .github/workflows/codeql.yml
  .github/workflows/copyright-check.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/install.yml
  .github/workflows/release.yml
  .github/workflows/ruff-format.yml
  .github/workflows/ruff-lint.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
Labels: CI

ci(merge-queue): run essential checks on merge groups
  .github/workflows/codeql.yml
  .github/workflows/copyright-check.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/install.yml
  .github/workflows/release.yml
  .github/workflows/ruff-format.yml
  .github/workflows/ruff-lint.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
Labels: CI

fix(cli): honor skip_confirmation on @run.cli.entrypoint (#609)
  nemo_run/cli/api.py
  test/cli/test_api.py
Labels: CLI, api, tests

fix(cli): remove stray 'Configuring global options' debug print (#611)
  nemo_run/cli/api.py
  test/cli/test_api.py
Labels: CLI, api, tests

fix(cli): support unparameterized list/dict annotations in the CLI parser (#607)
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

docs(skypilot): document cluster teardown behaviour (#590)
  docs/guides/executors/skypilot.md
Labels: documentation

fix(cli): handle Windows config section paths (#598)
  nemo_run/cli/_paths.py
  nemo_run/cli/api.py
  nemo_run/cli/config.py
  nemo_run/cli/lazy.py
  test/cli/test_api.py
  test/cli/test_config_paths.py
Labels: CLI, api, tests

style: apply ruff format to test_api
  test/cli/test_api.py
Labels: CLI, tests

Keep a triple-quoted constructor argument.
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

fix(skypilot): normalize Skypilot managed job ids to int (#588)
  nemo_run/core/execution/skypilot_jobs.py
  test/core/execution/test_skypilot_jobs.py
Labels: execution, executor/skypilot, core, tests

fix(cli): stop --yaml and --yes both claiming -y (#561)
  docs/guides/cli.md
  nemo_run/cli/api.py
  test/cli/test_api.py
Labels: CLI, api, documentation, tests

Reject ntasks on any executor merged into a heterogeneous group
  nemo_run/core/execution/slurm.py
  test/core/execution/test_slurm.py
Labels: execution, executor/slurm, core, tests

Preserve launcher topology and ntasks exclusion in the remaining ntasks paths
  nemo_run/core/execution/slurm.py
  nemo_run/run/ray/slurm.py
  test/core/execution/test_slurm.py
  test/run/ray/test_slurm_ray_request.py
Labels: execution, executor/slurm, ray, core, run, tests

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
