Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*

fix(kubeflow): forward rank-0 + the actual loss-rank slot to stdout
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): robust log streaming across pod/container restarts
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): resolve rank-0/last pods from worker GROUP_RANK, not a heuristic
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): emit forwarded log lines in timestamp order
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

feat(kubeflow): support pod-template annotations/labels (podTemplateOverrides metadata)
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): resolve rank-0 and last rank before forwarding logs
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

fix(kubeflow): wait for rank-0/last to resolve, never fall back to completion-index
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

style(kubeflow): ruff-format kubeflow.py
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

test(kubeflow): update stale tests for uuid names, idempotent 409, rank-0/last log forwarding
  test/core/execution/test_kubeflow.py
Labels: execution, core, tests

test(kubeflow): cover GROUP_RANK resolution, log forwarding, client reload
  test/core/execution/test_kubeflow.py
Labels: execution, core, tests

ci: Remove sync skills workflow
  .github/workflows/sync-skills.yml
Labels: CI

feat(kubeflow): add copy_to_workspace/copy_from_workspace for arbitrary PVC paths
  nemo_run/core/execution/kubeflow.py
  test/core/execution/test_kubeflow.py
Labels: execution, core, tests

chore: bump `_code_freeze` workflow to `v1.4.1`
  .github/workflows/release-freeze.yml
Labels: CI

[🤖]: Howdy folks, let's bump NeMo Run to `0.11.0rc0.dev0` !
  nemo_run/package_info.py
Labels: none

fix: bump version via MINOR/PRE_RELEASE constants, not hardcoded __version__
  nemo_run/package_info.py
Labels: none

fix: set PRE_RELEASE to empty string
  nemo_run/package_info.py
Labels: none

chore: bump `_code_freeze` workflow to `v1.4.2`
  .github/workflows/release-freeze.yml
Labels: CI

ci: bump _release_library.yml to v1.4.3
  .github/workflows/release.yml
Labels: CI

chore: set `next-pre-release` and `next-dev` to empty string
  .github/workflows/release-freeze.yml
Labels: CI

fix(kubeflow): tail only first and last node logs (#538)
  nemo_run/core/execution/kubeflow.py
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
  test/core/execution/test_kubeflow.py
Labels: execution, torchx, core, run, tests

fix(kubeflow): tail only first and last node logs (#538) (#544)
  nemo_run/core/execution/kubeflow.py
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
  test/core/execution/test_kubeflow.py
Labels: execution, torchx, core, run, tests

feat(kubeflow): add setup_commands run once per pod before the job
  nemo_run/core/execution/kubeflow.py
  nemo_run/core/execution/templates/kubeflow.sh.j2
Labels: execution, core

feat(kubeflow): copy workdir-PVC outputs back to job_dir on cleanup
  nemo_run/core/execution/kubeflow.py
  test/core/execution/test_kubeflow.py
Labels: execution, core, tests

test(kubeflow): mock kube clients in cleanup-noop test
  test/core/execution/test_kubeflow.py
Labels: execution, core, tests

docs: Fix docs version for 0.10.0
  docs/conf.py
  docs/project.json
  docs/versions1.json
Labels: documentation

docs: Fix docs version for 0.10.0 (#548)
  docs/conf.py
  docs/project.json
  docs/versions1.json
Labels: documentation

Fix docs version picker
  docs/versions1.json
Labels: documentation

Fix docs version picker (#551)
  docs/versions1.json
Labels: documentation

Fix docs version picker
  docs/versions1.json
Labels: documentation

ci: Ensure github ref is passed to release-docs
  .github/workflows/release-docs.yml
Labels: CI

Migrate Sphinx docs to Fern MDX for docs.nvidia.com/nemo/run.
  .github/workflows/fern-docs-ci.yml
  .github/workflows/fern-docs-preview-build.yml
  .github/workflows/fern-docs-preview-comment.yml
  .github/workflows/publish-fern-docs.yml
  docs/fern/components/Authors.tsx
  docs/fern/components/BadgeLinks.tsx
  docs/fern/components/CustomCard.tsx
  docs/fern/components/MetricsTable.tsx
  docs/fern/components/NotebookViewer.tsx
  docs/fern/components/Tag.tsx
  docs/fern/components/TrajectoryViewer.tsx
  docs/fern/docs.yml
  docs/fern/fern.config.json
  docs/fern/versions/nightly.yml
  docs/fern/versions/nightly/pages/faqs.mdx
  docs/fern/versions/nightly/pages/guides/cli.mdx
  docs/fern/versions/nightly/pages/guides/configuration.mdx
  docs/fern/versions/nightly/pages/guides/execution.mdx
  docs/fern/versions/nightly/pages/guides/index.mdx
  docs/fern/versions/nightly/pages/guides/management.mdx
  docs/fern/versions/nightly/pages/guides/ray.mdx
  docs/fern/versions/nightly/pages/guides/why-use-nemo-run.mdx
  docs/fern/versions/nightly/pages/index.mdx
Labels: documentation, CI

Enable multi-source hosting for docs.nvidia.com/nemo/run.
  docs/fern/docs.yml
Labels: documentation

Fix docker scheduler state aggregation
  nemo_run/run/torchx_backend/schedulers/docker.py
  test/run/torchx_backend/schedulers/test_docker.py
Labels: torchx, run, tests

Disable CLI comprehension evaluation
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

Fix Slurm noquote marker handling
  nemo_run/core/execution/slurm.py
  test/core/execution/test_slurm_templates.py
Labels: execution, executor/slurm, core, tests

Fix JobGroup state aggregation
  nemo_run/run/job.py
  test/run/test_job.py
Labels: run, tests

ci: pin GitHub Actions to commit SHAs
  .github/workflows/changelog-build.yml
  .github/workflows/cherry-pick-release-commit.yml
  .github/workflows/close-inactive-issue-pr.yml
  .github/workflows/codeql.yml
  .github/workflows/community-bot.yml
  .github/workflows/copyright-check.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/install.yml
  .github/workflows/nightly.yml
  .github/workflows/release-docs.yml
  .github/workflows/release-freeze.yml
  .github/workflows/release.yml
  .github/workflows/ruff-format.yml
  .github/workflows/ruff-lint.yml
  .github/workflows/spelling.yml
  .github/workflows/test.yml
Labels: CI

Fix -y short flag collision between --yaml and --yes
  nemo_run/cli/api.py
Labels: CLI, api

Dispatch PEP 604 unions (X | Y) in TypeParser.get_parser
  nemo_run/cli/cli_parser.py
  test/cli/test_cli_parser.py
Labels: CLI, tests

fix: use nanosecond experiment timestamps
  nemo_run/run/experiment.py
  test/run/test_experiment.py
Labels: run, tests
