Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*

Fix linting errors
  nemo_run/run/ray/lepton.py
Labels: ray, run

Fix formatting errors
  nemo_run/run/ray/lepton.py
Labels: ray, run

Move LeptonExecutor parameters to definition
  docs/guides/ray.md
  nemo_run/core/execution/lepton.py
  nemo_run/run/ray/lepton.py
Labels: execution, executor/lepton, ray, core, run, documentation

fix
  nemo_run/run/ray/templates/ray.sub.j2
  test/core/execution/artifacts/expected_ray_cluster.sub
  test/core/execution/artifacts/expected_ray_cluster_ssh.sub
Labels: execution, ray, core, run, tests

docs: Fix broken links in README and CONTRIBUTING
  CONTRIBUTING.md
  README.md
Labels: documentation

Updated leptonai package version
  pyproject.toml
Labels: none

revert
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

feat: Stream DGXC logs
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run

revert
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

fix tests
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: torchx, run, tests

remove
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

remove
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run

fix tests
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix
  test/core/execution/test_dgxcloud.py
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run, tests

fix
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: torchx, run, tests

add test for executor
  nemo_run/core/execution/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

add test for scheduler
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: torchx, run, tests

fix
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

remove
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

add date
  nemo_run/run/logs.py
Labels: run

token
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

test
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

test
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run, tests

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

test
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

fix
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run, tests

newline
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

revert
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

revert
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

fix
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run, tests

test
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

verify=False
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

decode_unicode=True
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core
