Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

chore: Add Claude md file
  CLAUDE.md
Labels: none

fix: Flaky Slurm network issues (#445)
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

fix: Flaky Slurm network issues (#445) (#447)
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

fix: Add GROUP_RANK
  nemo_run/core/execution/templates/dgxc.sh.j2
Labels: execution, core

fix: Add GROUP_RANK (#448)
  nemo_run/core/execution/templates/dgxc.sh.j2
Labels: execution, core

fix: Add GROUP_RANK (#448) (#449)
  nemo_run/core/execution/templates/dgxc.sh.j2
Labels: execution, core

fix: Catch OSError with exponential backoff
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

fix: Catch OSError with exponential backoff
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

Potential fix for code scanning alert no. 534: Illegal raise
  nemo_run/run/torchx_backend/schedulers/slurm.py
Labels: torchx, run

fix: Catch OSError with exponential backoff (#450)
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

fix: Catch OSError with exponential backoff (#450) (#452)
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

fix: Catch `can't start new thread`
  nemo_run/run/torchx_backend/launcher.py
  test/run/torchx_backend/test_launcher.py
Labels: torchx, run, tests

fix: Increase resiliency
  nemo_run/core/tunnel/client.py
  nemo_run/core/tunnel/rsync.py
  nemo_run/run/experiment.py
  nemo_run/run/logs.py
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/core/tunnel/test_client.py
  test/core/tunnel/test_rsync.py
  test/run/test_experiment.py
  test/run/test_logs.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, core, run, tests

format
  nemo_run/core/tunnel/client.py
  test/core/tunnel/test_client.py
  test/core/tunnel/test_rsync.py
Labels: core, tests

fix
  test/core/tunnel/test_client.py
Labels: core, tests

Push wheel
  .github/workflows/release.yml
Labels: CI

add exponential backoff
  nemo_run/run/torchx_backend/launcher.py
  test/run/torchx_backend/test_launcher.py
Labels: torchx, run, tests

build: Bump cryptography and urllib3
  pyproject.toml
  uv.lock
Labels: none

fix: Catch `can't start new thread` (#453)
  nemo_run/run/torchx_backend/launcher.py
  test/run/torchx_backend/test_launcher.py
Labels: torchx, run, tests

fix: Catch `can't start new thread` (#453) (#456)
  nemo_run/run/torchx_backend/launcher.py
  test/run/torchx_backend/test_launcher.py
Labels: torchx, run, tests

build: Bump cryptography and urllib3 (#455)
  pyproject.toml
  uv.lock
Labels: none

build: Bump cryptography and urllib3 (#455) (#457)
  pyproject.toml
  uv.lock
Labels: none

fix: treat DGXCloud UNKNOWN/transient status as PENDING to avoid false failures
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  test/core/execution/test_dgxcloud.py
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run, tests

fix: use type-specific endpoint for DGXCloud workload status
  nemo_run/core/execution/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix: read actualPhase from type-specific workload endpoints
  nemo_run/core/execution/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

add tests
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix: store job_id explicitly to avoid separator collision in app_id parsing
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: torchx, run, tests

format
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: torchx, run, tests

fix: treat DGXCloud UNKNOWN/transient status as PENDING to avoid false failures (#458)
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  test/core/execution/test_dgxcloud.py
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run, tests

fix: treat DGXCloud UNKNOWN/transient status as PENDING to avoid false failures (#458) (#459)
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  test/core/execution/test_dgxcloud.py
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run, tests

fix: treat DGXCloud UNKNOWN/transient status as PENDING to avoid false failures
  nemo_run/core/execution/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  test/core/execution/test_dgxcloud.py
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: execution, executor/dgxcloud, torchx, core, run, tests

fix: read actualPhase from type-specific workload endpoints
  nemo_run/core/execution/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix: use type-specific endpoint for DGXCloud workload status
  nemo_run/core/execution/dgxcloud.py
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

add tests
  test/core/execution/test_dgxcloud.py
Labels: execution, executor/dgxcloud, core, tests

fix: store job_id explicitly to avoid separator collision in app_id parsing
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: torchx, run, tests

fix: catch transient sacct exceptions in SlurmTunnelScheduler.describe()
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

format
  test/run/torchx_backend/schedulers/test_dgxcloud.py
Labels: torchx, run, tests

ruff
  nemo_run/run/torchx_backend/schedulers/slurm.py
Labels: torchx, run

implement max-retry//cancel after final attempt
  nemo_run/exceptions.py
  nemo_run/run/torchx_backend/launcher.py
  nemo_run/run/torchx_backend/schedulers/slurm.py
Labels: torchx, run

add tests
  test/run/torchx_backend/schedulers/test_slurm.py
  test/run/torchx_backend/test_launcher.py
Labels: torchx, run, tests

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
