Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

Fix missing `git+` prefix for `torchx` install
  pyproject.toml
Labels: none

pass dgxc to ft_launcher
  nemo_run/run/torchx_backend/packaging.py
Labels: torchx, run

feat: Add FT to DGXC
  nemo_run/core/execution/dgxcloud.py
  nemo_run/core/execution/templates/dgxc.sh.j2
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
  nemo_run/core/execution/templates/ft_launcher_slurm.j2
  nemo_run/core/execution/templates/slurm.sh.j2
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: execution, executor/slurm, executor/dgxcloud, torchx, core, run

torchrun_job
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

fix
  nemo_run/core/execution/templates/dgxc.sh.j2
Labels: execution, core

format
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

revert
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/dgxcloud.py
Labels: execution, executor/dgxcloud, core

fix
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

fix
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

cleanup
  nemo_run/core/execution/templates/dgxc.sh.j2
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

test git push
  nemo_run/core/execution/launcher.py
Labels: execution, executor/launcher, core

change template
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

fix
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

fix
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

test
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

retries
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

TORCHX_MAX_RETRIES
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

cleanup
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

fix
  nemo_run/core/execution/templates/ft_launcher_dgxc.j2
Labels: execution, core

fix: resolve app_id collision when scheduling JobGroups with local executor
  nemo_run/run/job.py
Labels: run

bump FT interface
  nemo_run/run/torchx_backend/components/ft_launcher.py
Labels: torchx, run

--ft-use-infra-group-rank=False
  nemo_run/run/torchx_backend/components/ft_launcher.py
Labels: torchx, run

fix
  nemo_run/run/torchx_backend/components/ft_launcher.py
Labels: torchx, run

Update ray_enroot template
  nemo_run/run/ray/templates/ray_enroot.sub.j2
  test/core/execution/artifacts/expected_ray_cluster_enroot.sub
Labels: execution, ray, core, run, tests

feat: add het-job support for ray slurm
  nemo_run/run/ray/slurm.py
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/core/execution/artifacts/expected_ray_het_cluster.sub
  test/run/ray/test_slurm_ray_request.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: execution, ray, torchx, core, run, tests

fix
  nemo_run/run/ray/slurm.py
Labels: ray, run

fix: remove unexpected side effect in get_srun_flags
  nemo_run/run/ray/slurm.py
Labels: ray, run

fix
  test/run/ray/test_slurm_ray_request.py
Labels: ray, run, tests

feat: support container-image None in slurm
  nemo_run/core/execution/slurm.py
  test/core/execution/test_slurm.py
Labels: execution, executor/slurm, core, tests

fix
  nemo_run/config.py
  nemo_run/core/execution/slurm.py
  nemo_run/run/torchx_backend/packaging.py
  test/run/torchx_backend/test_packaging.py
  test/test_config.py
Labels: execution, executor/slurm, torchx, core, run, tests

feat: use slurm executor to get ray template name
  nemo_run/core/execution/slurm.py
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: execution, executor/slurm, torchx, core, run, tests

fix
  nemo_run/core/execution/slurm.py
  test/core/execution/artifacts/dummy_slurm.sh
  test/core/execution/artifacts/ft_slurm.sh
  test/core/execution/test_slurm_templates.py
Labels: execution, executor/slurm, core, tests

add warning for max_restarts
  nemo_run/run/torchx_backend/components/ft_launcher.py
Labels: torchx, run

fix: Search for incluster config if no kubeconfig is given
  nemo_run/run/ray/kuberay.py
Labels: ray, run

fix
  nemo_run/run/ray/kuberay.py
Labels: ray, run

fix
  nemo_run/run/ray/kuberay.py
Labels: ray, run

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
