Repository NVIDIA-NeMo/Run, changes with the labels that .github/labeler.yml gives for each.
All labels: CLI, execution, executor/slurm, executor/docker, executor/skypilot, executor/dgxcloud, executor/lepton, executor/kuberay, executor/launcher, ray, torchx, packaging, serialization, frontend, devspace, core, run, api, documentation, tests, CI

feat: add PyTorchJobExecutor for Kubeflow Training Operator on Kubernetes
  docs/guides/execution.md
  nemo_run/__init__.py
  nemo_run/core/execution/__init__.py
  nemo_run/core/execution/pytorchjob.py
  nemo_run/run/torchx_backend/schedulers/pytorchjob.py
  pyproject.toml
  test/core/execution/test_pytorchjob.py
  test/run/torchx_backend/schedulers/test_pytorchjob.py
Labels: execution, torchx, core, run, documentation, tests

fix: rename nprocs_per_node -> nproc_per_node for consistent API
  docs/guides/execution.md
  nemo_run/core/execution/pytorchjob.py
  test/core/execution/test_pytorchjob.py
Labels: execution, core, documentation, tests

feat: launch(wait=True), generator fetch_logs, e2e log verification
  local/example.py
  nemo_run/core/execution/pytorchjob.py
  nemo_run/run/torchx_backend/schedulers/pytorchjob.py
  test/core/execution/test_pytorchjob.py
  test/run/torchx_backend/schedulers/test_pytorchjob.py
Labels: execution, torchx, core, run, tests

fix: catch transient sacct exceptions in SlurmTunnelScheduler.describe() (#460)
  nemo_run/exceptions.py
  nemo_run/run/torchx_backend/launcher.py
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
  test/run/torchx_backend/test_launcher.py
Labels: torchx, run, tests

cp: `fix: catch transient sacct exceptions in SlurmTunnelScheduler.describe() (#460) (#463)`
  nemo_run/exceptions.py
  nemo_run/run/torchx_backend/launcher.py
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
  test/run/torchx_backend/test_launcher.py
Labels: torchx, run, tests

feat: add KubeflowExecutor for Kubeflow Training Operator on Kubernetes
  .gitignore
  docs/guides/execution.md
  nemo_run/__init__.py
  nemo_run/config.py
  nemo_run/core/execution/__init__.py
  nemo_run/core/execution/kubeflow.py
  nemo_run/core/execution/templates/kubeflow.sh.j2
  nemo_run/run/experiment.py
  nemo_run/run/torchx_backend/packaging.py
  nemo_run/run/torchx_backend/schedulers/api.py
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
  pyproject.toml
  test/core/execution/test_kubeflow.py
  test/run/torchx_backend/schedulers/test_kubeflow.py
  uv.lock
Labels: execution, torchx, core, run, documentation, tests

fix: scope PVC writes to <username>/code and fix launch script path resolution
  nemo_run/core/execution/kubeflow.py
  nemo_run/core/execution/templates/kubeflow.sh.j2
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
  test/core/execution/test_kubeflow.py
Labels: execution, torchx, core, run, tests

fix: expose all replicas in describe() and improve test coverage
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
  test/core/execution/test_kubeflow.py
  test/run/torchx_backend/schedulers/test_kubeflow.py
Labels: execution, torchx, core, run, tests

fix: address code review comments (autoescape note, empty except comment, test cleanup)
  nemo_run/core/execution/kubeflow.py
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
  test/core/execution/test_kubeflow.py
Labels: execution, torchx, core, run, tests

feat: poll and print SLURM job estimated start time while pending
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

feat: add print_script option to SlurmExecutor
  nemo_run/core/execution/slurm.py
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: execution, executor/slurm, torchx, core, run, tests

chore: ignore local dev artifacts
  .gitignore
Labels: none

feat: print current timestamp in SLURM job start time poll output
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: torchx, run, tests

feat: exponential backoff for SLURM job start time polling
  nemo_run/run/torchx_backend/schedulers/slurm.py
Labels: torchx, run

feat: add Experiment.export() to write runnable scripts without submitting
  nemo_run/run/experiment.py
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
  nemo_run/run/torchx_backend/schedulers/docker.py
  nemo_run/run/torchx_backend/schedulers/lepton.py
  nemo_run/run/torchx_backend/schedulers/local.py
  nemo_run/run/torchx_backend/schedulers/skypilot.py
  nemo_run/run/torchx_backend/schedulers/skypilot_jobs.py
  test/run/test_experiment.py
Labels: torchx, run, tests

docs: add export() e2e examples for Local, SLURM, DGXCloud, and Script tasks
  local/export_dgxcloud.py
  local/export_local.py
  local/export_multi_job.py
  local/export_script.py
  local/export_slurm.py
Labels: none

Revert "docs: add export() e2e examples for Local, SLURM, DGXCloud, and Script tasks"
  local/export_dgxcloud.py
  local/export_local.py
  local/export_multi_job.py
  local/export_script.py
  local/export_slurm.py
Labels: none

fix: restrict exported script permissions to 0o750 (owner+group)
  nemo_run/run/experiment.py
  nemo_run/run/torchx_backend/schedulers/lepton.py
  nemo_run/run/torchx_backend/schedulers/local.py
Labels: torchx, run

fix: guard DGXCloud script write behind experiment_dir check
  nemo_run/run/torchx_backend/schedulers/dgxcloud.py
Labels: torchx, run

test: improve coverage and fix chmod to 0o700 for exported scripts
  nemo_run/run/experiment.py
  nemo_run/run/torchx_backend/schedulers/lepton.py
  nemo_run/run/torchx_backend/schedulers/local.py
  test/run/test_experiment.py
  test/run/torchx_backend/schedulers/test_dgxcloud.py
  test/run/torchx_backend/schedulers/test_docker.py
  test/run/torchx_backend/schedulers/test_lepton.py
  test/run/torchx_backend/schedulers/test_local.py
  test/run/torchx_backend/schedulers/test_skypilot.py
  test/run/torchx_backend/schedulers/test_skypilot_jobs.py
Labels: torchx, run, tests

fix: use context manager for open() in tests to satisfy CodeQL
  test/run/torchx_backend/schedulers/test_lepton.py
  test/run/torchx_backend/schedulers/test_local.py
Labels: torchx, run, tests

docs: progressive learning structure with per-executor guides and architecture reference
  docs/guides/architecture.md
  docs/guides/execution.md
  docs/guides/executors/dgxcloud.md
  docs/guides/executors/docker.md
  docs/guides/executors/index.md
  docs/guides/executors/kuberay.md
  docs/guides/executors/lepton.md
  docs/guides/executors/local.md
  docs/guides/executors/skypilot.md
  docs/guides/executors/slurm.md
  docs/guides/index.md
  docs/guides/management.md
  docs/guides/quickstart.md
  docs/guides/ray.md
Labels: ray, documentation

feedback
  docs/guides/execution.md
  test/core/execution/test_kubeflow.py
  test/run/torchx_backend/schedulers/test_kubeflow.py
Labels: execution, torchx, core, run, documentation, tests

num_nodes: int = 1
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

alpine
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

refactor: remove PyTorchJob support from KubeflowExecutor
  nemo_run/core/execution/kubeflow.py
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
  test/core/execution/test_kubeflow.py
Labels: execution, torchx, core, run, tests

fix: handle legacy job_kind field when deserializing persisted executor state
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
Labels: torchx, run

fix: also migrate legacy nproc_per_node field when deserializing executor state
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
Labels: torchx, run

chore: remove backwards compat shims for job_kind and nproc_per_node
  nemo_run/run/torchx_backend/schedulers/kubeflow.py
Labels: torchx, run

fix: add --max-log-requests to kubectl logs for num_nodes > 5
  nemo_run/core/execution/kubeflow.py
Labels: execution, core

comment on chmod
  nemo_run/config.py
Labels: none

typo
  nemo_run/config.py
Labels: none

fix: make fetch_logs streaming resilient to flaky kubectl exits
  nemo_run/core/execution/kubeflow.py
  test/core/execution/test_kubeflow.py
Labels: execution, core, tests

chore: ruff format test_kubeflow.py
  test/core/execution/test_kubeflow.py
Labels: execution, core, tests

chore: test FW-CI-templates ko3n1g/fix/linkcheck-retry-backoff
  .github/workflows/build-docs.yml
Labels: CI

chore: bump FW-CI-templates to v0.80.2
  .github/workflows/build-docs.yml
Labels: CI

fix: guard SLURM start-time polling behind a feature flag
  nemo_run/core/execution/slurm.py
  nemo_run/run/torchx_backend/schedulers/slurm.py
  test/run/torchx_backend/schedulers/test_slurm.py
Labels: execution, executor/slurm, torchx, core, run, tests

fix: PRE_RELEASE variable
  nemo_run/package_info.py
Labels: none

fix: PRE_RELEASE variable (#470)
  nemo_run/package_info.py
Labels: none

fix: PRE_RELEASE variable (#470) (#471)
  nemo_run/package_info.py
Labels: none

.github/labeler.yml:

CLI:
- nemo_run/cli/**/*
- test/cli/**/*

execution:
- nemo_run/core/execution/**/*
- test/core/execution/**/*

executor/slurm:
- nemo_run/core/execution/slurm.py
- nemo_run/core/execution/templates/slurm*.j2
- test/core/execution/test_slurm*.py

executor/docker:
- nemo_run/core/execution/docker.py
- test/core/execution/test_docker.py
- examples/docker/**/*

executor/skypilot:
- nemo_run/core/execution/skypilot*.py
- test/core/execution/test_skypilot*.py

executor/dgxcloud:
- nemo_run/core/execution/dgxcloud.py
- test/core/execution/test_dgxcloud.py
- examples/dgxcloud/**/*

executor/lepton:
- nemo_run/core/execution/lepton.py
- test/core/execution/test_lepton.py

executor/kuberay:
- nemo_run/core/execution/kuberay.py

executor/launcher:
- nemo_run/core/execution/launcher.py
- test/core/execution/test_launcher.py

ray:
- nemo_run/run/ray/**/*
- test/run/ray/**/*
- docs/guides/ray.md

torchx:
- nemo_run/run/torchx_backend/**/*
- test/run/torchx_backend/**/*

packaging:
- nemo_run/core/packaging/**/*
- test/core/packaging/**/*

serialization:
- nemo_run/core/serialization/**/*

frontend:
- nemo_run/core/frontend/**/*
- test/core/frontend/**/*

devspace:
- nemo_run/devspace/**/*
- test/devspace/**/*

core:
- nemo_run/core/**/*
- test/core/**/*

run:
- nemo_run/run/**/*
- test/run/**/*

api:
- nemo_run/api.py
- nemo_run/cli/api.py
- test/test_api.py

documentation:
- docs/**/*
- README.md
- examples/**/*

tests:
- test/**/*

CI:
- .github/**/*
